doctype html
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js')
  body
    header#banner
      h1 Awesome Chat
    block content
    footer Hope you enjoy your stay here
